{% extends 'base.html' %}
{% load static %}


{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'women/css/materialcss.css'%}" type="text/css">
</head>
<div class="block2">
          <section class="main">
            <div class="and">
                <div class="text">
                    <p>{{ article.text }}</p>
                </div>
                <div class="circle"></div>
            </div>
            <div class="white">
              <div class="table1">
                <div class="table_lower">
                  <h3 class="text2">ОГЭ</h3>
                  <div class="bookmark">
                    <div class="txe">
                      <div class="block_header">
                        <div>
                          <p class="mouth">{{ article.title1 }}</p>
                        </div>
                      </div>
                      <div class="list">
                        <p class="item">
                          <span class="number">Блок 1.</span>
                          {{ article.content1 }}
                        </p>
                        <p class="item">
                          <span class="number">Блок 2.</span>
                          {{ article.content2 }}
                        </p>
                        <p class="item">
                          <span class="number">Блок 3.</span>
                          {{ article.content3 }}
                        </p>
                        <p class="item">
                          <span class="number">Блок 4.</span>
                          {{ article.content4 }}
                        </p>
                      </div>
                    </div>
                    <div class="txe">
                      <div class="block_header">
                        <div>
                          <p class="mouth">{{ article.title2 }}</p>
                        </div>
                      </div>
                      <div class="list">
                        <p class="item">
                          <span class="number">Блок 1.</span>
                          {{ article.content5 }}
                        </p>
                        <p class="item">
                          <span class="number">Блок 2.</span>
                          {{ article.content6 }}
                        </p>
                        <p class="item">
                          <span class="number">Блок 3.</span>
                          {{ article.content7 }}
                        </p>
                        <p class="item">
                          <span class="number">Блок 4.</span>
                          {{ article.content8 }}
                        </p>
                      </div>
                    </div>
                    <div class="txe">
                      <div class="block_header">
                        <div>
                          <p class="mouth">{{ article.title3 }}</p>
                        </div>
                      </div>
                      <div class="list">
                        <p class="item">
                          <span class="number">Блок 1.</span>
                          {{ article.content9 }}
                        </p>
                        <p class="item">
                          <span class="number">Блок 2.</span>
                          {{ article.content10 }}
                        </p>
                        <p class="item">
                          <span class="number">Блок 3.</span>
                          {{ article.content11 }}
                        </p>
                        <p class="item">
                          <span class="number">Блок 4.</span>
                          {{ article.content12 }}
                        </p>
                      </div>
                    </div>
                  </div>
                  <h3 class="text2 text2_lower">ЕГЭ</h3>
                  <div class="bookmark">
                    <div class="txe">
                      <div class="block_header">
                        <div>
                          <p class="mouth">{{ article.title4 }}</p>
                        </div>
                      </div>
                      <div class="list">
                        <p class="item">
                          <span class="number">Блок 1.</span>
                          {{ article.content13 }}
                        </p>
                        <p class="item">
                          <span class="number">Блок 2.</span>
                          {{ article.content14 }}
                        </p>
                        <p class="item">
                          <span class="number">Блок 3.</span>
                          {{ article.content15 }}
                        </p>
                        <p class="item">
                          <span class="number">Блок 4.</span>
                          {{ article.content16 }}
                        </p>
                      </div>
                    </div>
                    <div class="txe">
                      <div class="block_header">
                        <div>
                          <p class="mouth">{{ article.title5 }}</p>
                        </div>
                      </div>
                      <div class="list">
                        <p class="item">
                          <span class="number">Блок 1.</span>
                          {{ article.content17 }}
                        </p>
                        <p class="item">
                          <span class="number">Блок 2.</span>
                          {{ article.content18 }}
                        </p>
                        <p class="item">
                          <span class="number">Блок 3.</span>
                          {{ article.content19 }}
                        </p>
                        <p class="item">
                          <span class="number">Блок 4.</span>
                          {{ article.content20 }}
                        </p>
                      </div>
                    </div>
                    <div class="txe">
                      <div class="block_header">
                        <div>
                          <p class="mouth">{{ article.title6 }}</p>
                        </div>
                      </div>
                      <div class="list">
                        <p class="item">
                          <span class="number">Блок 1.</span>
                          {{ article.content21 }}
                        </p>
                        <p class="item">
                          <span class="number">Блок 2.</span>
                          {{ article.content22 }}
                        </p>
                        <p class="item">
                          <span class="number">Блок 3.</span>
                          {{ article.content23 }}
                        </p>
                        <p class="item">
                          <span class="number">Блок 4.</span>
                          {{ article.content24 }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
    </div>
{% endblock %}
